# HTID:19172568: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOWphp_value display_errors 1# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:19172568:DirectoryIndex index.php index.html index.htm index2.html# Páginas de erro:ErrorDocument 403 http://beaverforest.cfErrorDocument 404 http://beaverforest.cfErrorDocument 500 http://beaverforest.cf# Charset:AddDefaultCharset UTF-8   AddDefaultCharset ISO-8859-1# Idioma:DefaultLanguage pt-BR# Cache:Header set Cache-Control "max-age=0, public"# Segurança:Header set Content-Security-Policy "default-src http://beaverforest.cf"# Acesso a controles:Header add Access-Control-Allow-Origin: "*"Header add Access-Control-Allow-Methods: "*"Header add Access-Control-Allow-Headers: "*"# Mensagem oculta:Header set X-BF "Quer fazer parte da nossa equipe? Entre em contato com Piter#6645!"