# HTID:19172568: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOWphp_value display_errors 1# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:19172568:# Páginas de erro:ErrorDocument 403 https://infinityfree.net/errors/403/ErrorDocument 404 https://infinityfree.net/errors/404/ErrorDocument 500 https://infinityfree.net/errors/500/# Charset:AddDefaultCharset UTF-8   AddDefaultCharset ISO-8859-1# Idioma:DefaultLanguage pt-BR# CacheHeader set Cache-Control "max-age=0, public"Header add Access-Control-Allow-Origin: "*"Header add Access-Control-Allow-Headers: "*"